@font-face {
  font-family: 'macode';
  src:  url('../fonts/macode.eot?wxqpwi');
  src:  url('../fonts/macode.eot?wxqpwi#iefix') format('embedded-opentype'),
        url('../fonts/macode.ttf?wxqpwi') format('truetype'),
        url('../fonts/macode.woff?wxqpwi') format('woff'),
        url('../fonts/macode.svg?wxqpwi#macode') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  display: inline-block;
  font-family: 'macode' !important;
  font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  speak: none;
  text-rendering: auto;text-transform: none;
  vertical-align: middle;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-adjust:before {
  content: "\e901";
}
.icon-align-center:before {
  content: "\e902";
}
.icon-align-justify:before {
  content: "\e903";
}
.icon-align-left:before {
  content: "\e904";
}
.icon-align-right:before {
  content: "\e905";
}
.icon-amazon:before {
  content: "\e906";
}
.icon-android:before {
  content: "\e907";
}
.icon-app:before {
  content: "\e908";
}
.icon-apple:before {
  content: "\e909";
}
.icon-app-o:before {
  content: "\e90a";
}
.icon-archive:before {
  content: "\e90b";
}
.icon-archive-o:before {
  content: "\e90c";
}
.icon-arrow-bottom:before {
  content: "\e90d";
}
.icon-arrow-left:before {
  content: "\e90e";
}
.icon-arrow-right:before {
  content: "\e90f";
}
.icon-arrow-top:before {
  content: "\e910";
}
.icon-attachment:before {
  content: "\e911";
}
.icon-bar-chart:before {
  content: "\e912";
}
.icon-barcode:before {
  content: "\e913";
}
.icon-behance:before {
  content: "\e914";
}
.icon-bell:before {
  content: "\e915";
}
.icon-bell-o:before {
  content: "\e916";
}
.icon-bin:before {
  content: "\e917";
}
.icon-bitcoin:before {
  content: "\e918";
}
.icon-blogger:before {
  content: "\e919";
}
.icon-bold:before {
  content: "\e91a";
}
.icon-book:before {
  content: "\e91b";
}
.icon-bookmark:before {
  content: "\e91c";
}
.icon-bookmark-o:before {
  content: "\e91d";
}
.icon-brightness:before {
  content: "\e91e";
}
.icon-bucket:before {
  content: "\e91f";
}
.icon-bug:before {
  content: "\e920";
}
.icon-bullet-list:before {
  content: "\e921";
}
.icon-bullhorn:before {
  content: "\e922";
}
.icon-calculator:before {
  content: "\e923";
}
.icon-calendar:before {
  content: "\e924";
}
.icon-camera:before {
  content: "\e925";
}
.icon-cart:before {
  content: "\e926";
}
.icon-chat:before {
  content: "\e927";
}
.icon-chatting:before {
  content: "\e928";
}
.icon-chat-typing:before {
  content: "\e929";
}
.icon-chevron-bottom:before {
  content: "\e92a";
}
.icon-chevron-left:before {
  content: "\e92b";
}
.icon-chevron-right:before {
  content: "\e92c";
}
.icon-chevron-top:before {
  content: "\e92d";
}
.icon-chrome:before {
  content: "\e92e";
}
.icon-circle-back:before {
  content: "\e92f";
}
.icon-circle-check:before {
  content: "\e930";
}
.icon-circle-compass:before {
  content: "\e931";
}
.icon-circle-cross:before {
  content: "\e932";
}
.icon-circle-exclamation:before {
  content: "\e933";
}
.icon-circle-info:before {
  content: "\e934";
}
.icon-circle-menu:before {
  content: "\e935";
}
.icon-circle-minus:before {
  content: "\e936";
}
.icon-circle-pause:before {
  content: "\e937";
}
.icon-circle-play:before {
  content: "\e938";
}
.icon-circle-plus:before {
  content: "\e939";
}
.icon-circle-question:before {
  content: "\e93a";
}
.icon-circle-repeat:before {
  content: "\e93b";
}
.icon-circle-shuffle:before {
  content: "\e93c";
}
.icon-circle-stop:before {
  content: "\e93d";
}
.icon-clipboard:before {
  content: "\e93e";
}
.icon-clock:before {
  content: "\e93f";
}
.icon-cloud-download:before {
  content: "\e940";
}
.icon-cloud-upload:before {
  content: "\e941";
}
.icon-code:before {
  content: "\e942";
}
.icon-codepen:before {
  content: "\e943";
}
.icon-command:before {
  content: "\e944";
}
.icon-compass:before {
  content: "\e945";
}
.icon-console:before {
  content: "\e946";
}
.icon-contact:before {
  content: "\e947";
}
.icon-contrast:before {
  content: "\e948";
}
.icon-control:before {
  content: "\e949";
}
.icon-copy:before {
  content: "\e94a";
}
.icon-credit-card:before {
  content: "\e94b";
}
.icon-cross:before {
  content: "\e94c";
}
.icon-database:before {
  content: "\e94d";
}
.icon-dedent:before {
  content: "\e94e";
}
.icon-discount:before {
  content: "\e94f";
}
.icon-dislike:before {
  content: "\e950";
}
.icon-dollar:before {
  content: "\e951";
}
.icon-download:before {
  content: "\e952";
}
.icon-draft:before {
  content: "\e953";
}
.icon-draft-o:before {
  content: "\e954";
}
.icon-dribbble:before {
  content: "\e955";
}
.icon-drop:before {
  content: "\e956";
}
.icon-dropbox:before {
  content: "\e957";
}
.icon-edge:before {
  content: "\e958";
}
.icon-edit:before {
  content: "\e959";
}
.icon-enter:before {
  content: "\e95a";
}
.icon-eraser:before {
  content: "\e95b";
}
.icon-euro:before {
  content: "\e95c";
}
.icon-exit:before {
  content: "\e95d";
}
.icon-eye:before {
  content: "\e95e";
}
.icon-eye-slash:before {
  content: "\e95f";
}
.icon-facebook:before {
  content: "\e960";
}
.icon-facebook2:before {
  content: "\e961";
}
.icon-file-blank:before {
  content: "\e962";
}
.icon-filter:before {
  content: "\e963";
}
.icon-finder:before {
  content: "\e964";
}
.icon-fire:before {
  content: "\e965";
}
.icon-firefox:before {
  content: "\e966";
}
.icon-firewall:before {
  content: "\e967";
}
.icon-flash:before {
  content: "\e968";
}
.icon-folder:before {
  content: "\e969";
}
.icon-folder-o:before {
  content: "\e96a";
}
.icon-folder-open:before {
  content: "\e96b";
}
.icon-folder-open-o:before {
  content: "\e96c";
}
.icon-fullscreen:before {
  content: "\e96d";
}
.icon-gear:before {
  content: "\e96e";
}
.icon-gear-o:before {
  content: "\e96f";
}
.icon-gift:before {
  content: "\e970";
}
.icon-git:before {
  content: "\e971";
}
.icon-github:before {
  content: "\e972";
}
.icon-google:before {
  content: "\e973";
}
.icon-google-drive:before {
  content: "\e974";
}
.icon-google-plus:before {
  content: "\e975";
}
.icon-group:before {
  content: "\e976";
}
.icon-heart:before {
  content: "\e977";
}
.icon-heart-o:before {
  content: "\e978";
}
.icon-help:before {
  content: "\e979";
}
.icon-history:before {
  content: "\e97a";
}
.icon-home:before {
  content: "\e97b";
}
.icon-home2:before {
  content: "\e97c";
}
.icon-home-o:before {
  content: "\e97d";
}
.icon-idea:before {
  content: "\e97e";
}
.icon-IE:before {
  content: "\e97f";
}
.icon-image:before {
  content: "\e980";
}
.icon-image-o:before {
  content: "\e981";
}
.icon-inbox:before {
  content: "\e982";
}
.icon-indent:before {
  content: "\e983";
}
.icon-instagram:before {
  content: "\e984";
}
.icon-internet:before {
  content: "\e985";
}
.icon-internet-o:before {
  content: "\e986";
}
.icon-invoice:before {
  content: "\e987";
}
.icon-italic:before {
  content: "\e988";
}
.icon-joomla:before {
  content: "\e989";
}
.icon-key:before {
  content: "\e98a";
}
.icon-keyboard:before {
  content: "\e98b";
}
.icon-keypad:before {
  content: "\e98c";
}
.icon-laptop:before {
  content: "\e98d";
}
.icon-layers:before {
  content: "\e98e";
}
.icon-layout:before {
  content: "\e98f";
}
.icon-like:before {
  content: "\e990";
}
.icon-line-spacing:before {
  content: "\e991";
}
.icon-link:before {
  content: "\e992";
}
.icon-linkedin:before {
  content: "\e993";
}
.icon-link-embed:before {
  content: "\e994";
}
.icon-lock:before {
  content: "\e995";
}
.icon-lock-o:before {
  content: "\e996";
}
.icon-loop:before {
  content: "\e997";
}
.icon-loop2:before {
  content: "\e998";
}
.icon-loop-search:before {
  content: "\e999";
}
.icon-map:before {
  content: "\e99a";
}
.icon-mark:before {
  content: "\e99b";
}
.icon-mark-o:before {
  content: "\e99c";
}
.icon-message:before {
  content: "\e99d";
}
.icon-message-open:before {
  content: "\e99e";
}
.icon-mic:before {
  content: "\e99f";
}
.icon-mic-o:before {
  content: "\e9a0";
}
.icon-minus:before {
  content: "\e9a1";
}
.icon-mobile:before {
  content: "\e9a2";
}
.icon-money:before {
  content: "\e9a3";
}
.icon-money2:before {
  content: "\e9a4";
}
.icon-monitor:before {
  content: "\e9a5";
}
.icon-more:before {
  content: "\e9a6";
}
.icon-more-o:before {
  content: "\e9a7";
}
.icon-mouse:before {
  content: "\e9a8";
}
.icon-mp3-player:before {
  content: "\e9a9";
}
.icon-music:before {
  content: "\e9aa";
}
.icon-mute:before {
  content: "\e9ab";
}
.icon-mute-o:before {
  content: "\e9ac";
}
.icon-network:before {
  content: "\e9ad";
}
.icon-newspaper:before {
  content: "\e9ae";
}
.icon-numbering-list:before {
  content: "\e9af";
}
.icon-omega:before {
  content: "\e9b0";
}
.icon-onedrive:before {
  content: "\e9b1";
}
.icon-opera:before {
  content: "\e9b2";
}
.icon-page-break:before {
  content: "\e9b3";
}
.icon-paint:before {
  content: "\e9b4";
}
.icon-paint-o:before {
  content: "\e9b5";
}
.icon-paper-plane:before {
  content: "\e9b6";
}
.icon-paragraph:before {
  content: "\e9b7";
}
.icon-pause:before {
  content: "\e9b8";
}
.icon-pause-o:before {
  content: "\e9b9";
}
.icon-payment:before {
  content: "\e9ba";
}
.icon-paypal:before {
  content: "\e9bb";
}
.icon-pencil:before {
  content: "\e9bc";
}
.icon-phone:before {
  content: "\e9bd";
}
.icon-phone2:before {
  content: "\e9be";
}
.icon-phonebook:before {
  content: "\e9bf";
}
.icon-pie-chart:before {
  content: "\e9c0";
}
.icon-pin:before {
  content: "\e9c1";
}
.icon-pinterest:before {
  content: "\e9c2";
}
.icon-placeholder:before {
  content: "\e9c3";
}
.icon-placeholder-c:before {
  content: "\e9c4";
}
.icon-placeholder-o:before {
  content: "\e9c5";
}
.icon-placeholder-s:before {
  content: "\e9c6";
}
.icon-play:before {
  content: "\e9c7";
}
.icon-play-o:before {
  content: "\e9c8";
}
.icon-plus:before {
  content: "\e9c9";
}
.icon-power:before {
  content: "\e9ca";
}
.icon-presentation:before {
  content: "\e9cb";
}
.icon-print:before {
  content: "\e9cc";
}
.icon-qrcode:before {
  content: "\e9cd";
}
.icon-reddit:before {
  content: "\e9ce";
}
.icon-redo:before {
  content: "\e9cf";
}
.icon-rocket:before {
  content: "\e9d0";
}
.icon-rss:before {
  content: "\e9d1";
}
.icon-ruler:before {
  content: "\e9d2";
}
.icon-safari:before {
  content: "\e9d3";
}
.icon-save:before {
  content: "\e9d4";
}
.icon-scissors:before {
  content: "\e9d5";
}
.icon-screens:before {
  content: "\e9d6";
}
.icon-server:before {
  content: "\e9d7";
}
.icon-share:before {
  content: "\e9d8";
}
.icon-share-o:before {
  content: "\e9d9";
}
.icon-shopping-bag:before {
  content: "\e9da";
}
.icon-shrink:before {
  content: "\e9db";
}
.icon-shuffle:before {
  content: "\e9dc";
}
.icon-sigma:before {
  content: "\e9dd";
}
.icon-skype:before {
  content: "\e9de";
}
.icon-sound-0:before {
  content: "\e9df";
}
.icon-sound-1:before {
  content: "\e9e0";
}
.icon-sound-2:before {
  content: "\e9e1";
}
.icon-sound-3:before {
  content: "\e9e2";
}
.icon-soundcloud:before {
  content: "\e9e3";
}
.icon-spinner:before {
  content: "\e9e4";
}
.icon-spinner1:before {
  content: "\e9e5";
}
.icon-spinner2:before {
  content: "\e9e6";
}
.icon-spinner3:before {
  content: "\e9e7";
}
.icon-spinner4:before {
  content: "\e9e8";
}
.icon-spinner5:before {
  content: "\e9e9";
}
.icon-spinner6:before {
  content: "\e9ea";
}
.icon-spinner7:before {
  content: "\e9eb";
}
.icon-spinner8:before {
  content: "\e9ec";
}
.icon-spotify:before {
  content: "\e9ed";
}
.icon-stackoverflow:before {
  content: "\e9ee";
}
.icon-star:before {
  content: "\e9ef";
}
.icon-star-o:before {
  content: "\e9f0";
}
.icon-steam:before {
  content: "\e9f1";
}
.icon-steam2:before {
  content: "\e9f2";
}
.icon-stop:before {
  content: "\e9f3";
}
.icon-stop-o:before {
  content: "\e9f4";
}
.icon-strikethrough:before {
  content: "\e9f5";
}
.icon-structural:before {
  content: "\e9f6";
}
.icon-subscript:before {
  content: "\e9f7";
}
.icon-subtitles:before {
  content: "\e9f8";
}
.icon-sun:before {
  content: "\e9f9";
}
.icon-superscript:before {
  content: "\e9fa";
}
.icon-table:before {
  content: "\e9fb";
}
.icon-tablet:before {
  content: "\e9fc";
}
.icon-tabs:before {
  content: "\e9fd";
}
.icon-tag:before {
  content: "\e9fe";
}
.icon-tags:before {
  content: "\e9ff";
}
.icon-target:before {
  content: "\ea00";
}
.icon-template:before {
  content: "\ea01";
}
.icon-terminal:before {
  content: "\ea02";
}
.icon-text-editor:before {
  content: "\ea03";
}
.icon-tiles-large:before {
  content: "\ea04";
}
.icon-tiles-large-o:before {
  content: "\ea05";
}
.icon-tiles-small:before {
  content: "\ea06";
}
.icon-tiles-small-o:before {
  content: "\ea07";
}
.icon-tumblr:before {
  content: "\ea08";
}
.icon-tux:before {
  content: "\ea09";
}
.icon-twitter:before {
  content: "\ea0a";
}
.icon-underline:before {
  content: "\ea0b";
}
.icon-undo:before {
  content: "\ea0c";
}
.icon-unlink:before {
  content: "\ea0d";
}
.icon-unlock:before {
  content: "\ea0e";
}
.icon-unlock-o:before {
  content: "\ea0f";
}
.icon-upload:before {
  content: "\ea10";
}
.icon-user:before {
  content: "\ea11";
}
.icon-video:before {
  content: "\ea12";
}
.icon-vimeo:before {
  content: "\ea13";
}
.icon-vk:before {
  content: "\ea14";
}
.icon-wallet:before {
  content: "\ea15";
}
.icon-whatsapp:before {
  content: "\ea16";
}
.icon-wikipedia:before {
  content: "\ea17";
}
.icon-windows:before {
  content: "\ea18";
}
.icon-windows2:before {
  content: "\ea19";
}
.icon-wordpress:before {
  content: "\ea1a";
}
.icon-wrench:before {
  content: "\ea1b";
}
.icon-xing:before {
  content: "\ea1c";
}
.icon-youtube:before {
  content: "\ea1d";
}
.icon-youtube2:before {
  content: "\ea1e";
}
.icon-zoom-in:before {
  content: "\ea1f";
}
.icon-zoom-out:before {
  content: "\ea20";
}
.icon-magic-wand:before {
  content: "\ea21";
}